@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');

$main-site-color: #fff;
$alt-color: #565756;
$main-font: 'B612', sans-serif;
$main-font-size: .75vw;
$media-font-size: 2vw;
$view-height: 100vh;
$display-hide: none;
$display-show: flex;

html {
  background: url('public/ucl.jpg') no-repeat center center fixed;
  background-size: cover;
}

body {
  background-color: transparent;
  font-family: $main-font;
}

audio {
  display: $display-hide;
}
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.nav-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  height: 80px;
  border-bottom: 2px solid $main-site-color;

  > .navigation {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    width: 50vw;
    list-style: none;

    > li {
      margin: 0;
      width: calc(100% / 4);
      line-height: 45px;
      text-align: left;
      padding: 15px;
      font-size: $main-font-size;
      font-weight: 600;
      border-left: 3px solid $main-site-color;
      color: $main-site-color;

      &:hover {
        background-color: $alt-color;
        color: $main-site-color;
      }
    }
  }
}

@media screen and (max-width:1000px) {
.nav-wrapper > .navigation {
    width: 100vw;

    > li {
      font-size: 1.75vw;
    }
  }
}

.home-view {
  display: $display-show;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $view-height;

  > button {
    margin-top: 35px;
    background-color: $main-site-color;
    color: #000;
    font-size: $main-font-size;
    font-weight: 600;
    &:hover {
      background-color: $alt-color;
    }
  }

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
    width: 40vw;
    border: 2px solid $main-site-color;
    background-color: rgba(255,255,255,0.5);

    > p {
      margin-top: 50px;
      font-size: 10vw;
    }
  }
}

@media screen and (max-width:700px) {
  .home-view {
    justify-content: flex-start;

    > button {
      font-size: $media-font-size;
    }

    > div {
      margin-top: 150px;
      height: 30vh;
      width: 30vh;

      > p {
        margin-top: 20px;
      }
    }
  }
}


.icon-choice {
  display: $display-hide;
  flex-direction: column;
  align-items: center;

  > h1 {
    color: $main-site-color;
    margin: 150px auto 25px auto;
    text-align: center;
  }

  > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    width: 50vw;

    > .logo {
      margin: 20px;
      width: calc(100% / 3);
      height: calc(50vw / 3);
    }
  }
}

.sign-up-view {
  display: $display-hide;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: $view-height;
  width: 50vw;
  margin: auto;

  > h1 {
    margin-top: 125px;
    font-size: 3vw;
    color: $main-site-color;
  }

  > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;

    > input {
      width: 100%;
      margin-top: 50px;
      text-align: center;
      border: 2px solid $alt-color;
      border-radius: 10px;
      height: 50px;
      outline: none;
      background: $alt-color;
      color: $main-site-color;
      &::placeholder {
        color: $main-site-color;
      }
    }

    > button {
      margin-top: 35px;
      background-color: $main-site-color;
      color: #000;
      font-size: $main-font-size;
      font-weight: 600;

      &:hover {
        background-color: $alt-color;
      }
    }
  }
}

@media screen and (max-width:1000px) {
  .sign-up-view {

    > h1 {
      font-size: 7vw;
    }

    > form > input {
      margin-top: 30px;
    }

    > form > button {
      font-size: $media-font-size;
    }
  }
}

.sign-in-view {
  display: $display-hide;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: $view-height;
  width: 50vw;
  margin: auto;

  > h1 {
    margin-top: 125px;
    font-size: 3vw;
    color: $main-site-color;
  }

  > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;

    > input{
      width: 100%;
      margin-top: 50px;
      text-align: center;
      border: 2px solid $alt-color;
      border-radius: 10px;
      height: 50px;
      outline: none;
      background: $alt-color;
      color: $main-site-color;

      &::placeholder {
        color: $main-site-color;
      }
    }

    > button {
      margin-top: 35px;
      background-color: $main-site-color;
      color: #000;
      font-size: $main-font-size;
      font-weight: 600;

      &:hover {
        background-color: $alt-color;
      }
    }
  }
}

@media screen and (max-width:1000px) {
  .sign-in-view {

    > h1 {
      font-size: 7vw;
    }

    > form > input {
      margin-top: 30px;
    }

    > form > button {
      font-size: $media-font-size;
    }
  }
}


.change-password-view {
  display: $display-hide;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: $view-height;
  width: 50vw;
  margin:auto;

  > h1 {
    margin-top: 125px;
    font-size: 3vw;
    color: $main-site-color;
  }

  > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;

    > input {
      width: 100%;
      margin-top: 50px;
      text-align: center;
      border: 2px solid $alt-color;
      border-radius: 10px;
      height: 50px;
      outline: none;
      background: $alt-color;
      color: $main-site-color;

      &::placeholder {
        color: $main-site-color;
      }
    }

    > button {
      margin-top: 35px;
      background-color: $main-site-color;
      color: #000;
      font-size: $main-font-size;
      font-weight: 600;

      &:hover {
        background-color: $alt-color;
      }
    }
  }
}

@media screen and (max-width:1000px) {
  .change-password-view {

    > h1 {
      font-size: 5vw;
    }

    > form > input {
      margin-top: 30px;
    }

    > form > button {
      font-size: $media-font-size;
    }
  }
}

.game-view{
  display: $display-hide;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: $view-height;

  > h1 {
    margin-top: 50px;
    font-size: 50px;
    color: $main-site-color;
  }

  > .container {
    margin-top: 20px;
    height: 60vh;
    width: 60vh;

    > .row > .box {
      border-bottom: 2px solid $main-site-color;
      border-right: 2px solid $main-site-color;
      color: $main-site-color;
      display: flex;
      justify-content: center;
      align-content: center;
      height: calc(100% / 3);
      width: calc(100%/ 3);
      font-size: 10vh;

      &:nth-child(3n) {
        border-right: 0;
      }

      &:nth-last-child(-1n + 3) {
        border-bottom: 0;
      }
    }
  }
  > .button-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0px;
    width: 50%;

    > button {
      height: 5vh;
      margin-top: 35px;
      background-color: $main-site-color;
      color: #000;
      font-size: $main-font-size;
      font-weight: 600;

      &:hover {
        background-color: $alt-color;
        color: $main-site-color;
      }
    }
  }

  > #game-id-data {
      display: $display-hide;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin: 35px 0px;

    > input {
      width: 50%;
      text-align: center;
      border: 2px solid $alt-color;
      border-radius: 10px;
      height: 50px;
      outline: none;
      background: $alt-color;
      color: $main-site-color;

      &::placeholder {
        color: $main-site-color;
      }
    }

    > button {
      height: 5vh;
      margin-left: 10px;
      background-color: $main-site-color;
      color: #000;
      font-size: $main-font-size;
      font-weight: 600;

      &:hover {
        background-color: $alt-color;
        color: $main-site-color;
      }
    }
  }

  > .container {
    margin-top: 20px;
    height: 60vh;
    width: 60vh;

    > .row > .displayBox {
      border-bottom: 2px solid $main-site-color;
      border-right: 2px solid $main-site-color;
      color: $main-site-color;
      height: calc(100% / 3);
      width: calc(100%/ 3);
      text-align: center;
      line-height: 20vh;
      font-size: 10vh;

      &:nth-child(3n) {
        border-right: 0;
      }

      &:nth-last-child(-1n + 3) {
        border-bottom: 0;
      }
    }
  }
}

@media screen and (max-width:1000px) {
  .game-view {

    > .button-wrapper {
      width: 75%;

      > button {
        font-size: $media-font-size;
        height: 8vh;
      }
    }

    > #game-id-data {
      margin: 10px 0px;

      > button{
        font-size: $media-font-size;
      }
    }
  }
}

#password {
  display: $display-hide;
}

#signOut {
  display: $display-hide;
}

#game {
  display: $display-hide;
}

#universal-failure {
  text-align: center;
}

.failure {
  margin-top: 10px;
  color: red;
  background: $main-site-color;
}

.success {
  margin-top: 10px;
  color: green;
  background: $main-site-color;
}

.bannerMessage {
  color: $main-site-color;
  font-weight: 600;
  margin-top: 10px;
}

.game-id-display {
  display: $display-hide;
  margin-bottom: 30px;
}

.stats-display {
  display: $display-hide;
  justify-content: space-around;
  margin-top: 30px;
  width: 50%;

  > .stats {
    display: flex;
    flex-direction: column;
    border: 2px solid $main-site-color;
    width: calc(50% / 3);
    align-items: center;
  }
}


@media screen and (max-width:1000px) {
  .stats-display {
    width: 100%;
  }
}

.underline {
  color: $main-site-color;
  text-decoration: underline;
  text-align: center;
  font-weight: 600;
}

.stats-text {
  color: $main-site-color;
}

.message {
  color: $main-site-color;
}
